<!DOCTYPE html>
<html>
  <head>
    <title>Add User</title>
  </head>
  <body>
    <h1>Add User | <a href="/admin">Home</a></h1>
    <form action="/admin/addUser" method="post">
      username <input name="username" /> password <input name="password" /> full
      name <input name="full_name" />
      admin:
      <input type="radio" id="admin_yes" name="admin" value="yes" />
      <label for="admin_yes">Yes</label>
      <input type="radio" id="admin_no" name="admin" value="no" />
      <label for="admin_no">No</label>
      <input type="submit" value="Add User" />
    </form>
  </body>
</html>
