<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Images</title>
  </head>
  <body>
    <h1>Images<h1>
      <a href="{{ url_for('index') }}">Back to main menu</a>
      {% for image in images %}
        <img src="{{ image }}" style="width:300px;" onclick="window.location.href = '{{ image }}';">
        <a href="{{ url_for('delete_image', filename=image.split('/')[-1]) }}">Delete</a>
      {% endfor %}
  </body>
</html>
